@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 225, 225, 225;
  --background-start-rgb: #292c35;
  --background-end-rgb: #292c35;
}



body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-end-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
